<a href="https://colab.research.google.com/github/imshubhamk23/Python_Mentor_Assignments/blob/main/Copy_of_FSDS_bootcamp_assignment_005_Oct_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Friday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

# List, Tuple and Sets

#### 1. On amazon website we have the following available items - 

```python
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
```
Take the user input N no. of times and find out the total cost to be paid?

OR

You can ask the user quntity or the count of item?

if the item is not present in the amazon website then print that item as out of stock and do add it total


HINT: while, for loop.. indexing

In [18]:
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
total = 0
num = 0
count = int(input("How many items you want to purchase? "))

while num < count:
  user = input("Enter the item name: ")
  for i in amazon_website:
    for j in i:
      if user == j:
        total = amazon_website[0][1] + total
        print(f"Sub Total is: {total}")
        num = num + 1
print(f"Final Cart Value is: {total}")

How many items you want to purchase? 3
Enter the item name: shirt
Sub Total is: 5000
Enter the item name: phone
Sub Total is: 10000
Enter the item name: shirt
Sub Total is: 15000
Final Cart Value is: 15000

#### 2. What will be the output of the following code snippet?

```
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")
```

In [19]:
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")

2 3 4 5 6 6

#### 3. Write a Python program to find the repeated items of a tuple.

In [62]:
t = (1,1,2,2,2,3,4,5,6,6,6,7)
s = set(t)
for i in range(1,len(s)+1):
  x = t.count(i)
  print(f"{i} is repeated {x} times ")

1 is repeated 2 times
2 is repeated 3 times
3 is repeated 1 times
4 is repeated 1 times
5 is repeated 1 times
6 is repeated 3 times
7 is repeated 1 times

### 4. Replace last value of tuples in a list with 500. Try using list comprehension

Example -: 
```
Input -:

[(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Output -:
[(10, 20, 500), (40, 50, 500), (70, 80, 500)]


```

In [69]:
#Here we cannot change the elements of tuple
#however we can skip the last item of tuple from printing and concanete it with another tuple
#The orignal list however remains the same. 
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
newl = list()
for t in l:
  t = t[:-1] + (500,)
  newl.append(t)
print(newl)

[(10, 20, 500), (40, 50, 500), (70, 80, 500)]

In [70]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
for t in l:
  print(t[:-1])

(10, 20)
(40, 50)
(70, 80)

In [75]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in l] )
print(l)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]
[(10, 20, 40), (40, 50, 60), (70, 80, 90)]