# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

## control flow and conditional statements

Q1. Find the largest number from the given list, use for loop.

```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [1]:
numbers = [12, 75, 150, 180, 145, 525, 50]
largest = numbers[0]
for i in numbers:
  if i > largest:
    largest = i
print(largest)

525

Q2. Print all the even number between (1, 12).

In [2]:
print("The even numbers between (1,12) are: -")
for i in range(1,13):
  if i % 2 == 0:
    print(i)

The even numbers between (1,12) are: -
2
4
6
8
10
12

Q3. Calculate the sum of all numbers from 1 to a given 

---

number
    
    Expected Output:

    Enter number 10
    
    Sum is:  55

In [3]:
number = int(input("Enter a number:- "))
sum = 0
for i in range(number+1):
  sum = sum + i
print(f"The sum of all numbers till {number} is {sum}")

Enter a number:- 5
The sum of all numbers till 5 is 15

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop

In [4]:
# Given:

numbers = [12, 75, 150, 180, 145, 525, 50]

In [6]:
numbers = [12, 75, 150, 180, 145, 525, 50]
num = []
for i in numbers:
  if i > 150:
    if i > 500:
      break
    continue
  if i % 5 == 0:
    num.append(i)
print(num)

[75, 150, 145]

Q5. Print the given list in reverse order.

```
list1 = [10, 20, 30, 40, 50]
```

In [ ]:
list1 = [10, 20, 30, 40, 50]
list1.reverse()
print(list1)